@using ProjectForFoxes.Models
@model Fox

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/styles.css">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Project For Foxes</title>
</head>
<body>
    <h2>Choose your action:</h2>
    <a href="/Login">Log in!</a>
    <a href="/Index">Don't log in!</a>
</body>
</html>


