
@{
    ViewData["Title"] = "login";
}

<h2>Welcome to Programmer Fox Club!</h2>
<form method="post" action="/Login">
    <p>Please, provide a name and associate it with your pet!</p>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Type a fox name, dude!">
    <button type="submit">Go!</button>
</form>

