@using ProjectForFoxes.Models
@model Fox

<!DOCTYPE html>
<html>
<head>
    <title>Portions For Foxes</title>
</head>
<body>
    <img src="/images/greenfox.png" alt="Green Fox" width="200" height="200">
    <p>Meet Fox @Model.Name. He's currently living on @Model.Food and @Model.Beverage. He's with the FBI.</p>
    <h2>Known tricks</h2>
</body>
</html>